.titulons{
    background-color: $mainColor;
    padding: 10px;
    color: $keyColorMain;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    font-weight: $textBold;
     img{
        width: 100px;
    }
}

.pregunta1{
    background-color: $mainColor;
    border-radius: $borderPercent;
}
    
.pregunta2{
    background-color: $mainColor;
    border-radius: $borderPercent;
}

.pregunta3{
    background-color: $box2Color;
    border-radius: $borderPercent;

    figcaption{
        font-size: $textSm;
        padding: 5px 15px;
        font-weight: $textBold;
    }
    p{
        padding: 15px;
        line-height: 28px;
        background-color: $mainColor;
    }
}
    
.titpregunta{
    font-size: $textMd;
    font-weight: $textRegular;
    padding: 18px;
    color: $keyColorTer;
    background-color: $box2Color;
}   
.txrespuesta{
   padding: 18px;
   font-size: $textSm;
   line-height: 30px;
}

.operador1{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: $borderPercent;
    background-color: $tertiaryboxesColor;
    figcaption{
        color: $keyColorMain;
        font-weight: $textLight;
        text-shadow: $shadowtext2;
        text-decoration-line: underline;
    }
    img{
        padding: 10px;
        width: $imgsizeMd;
    }
    p{
        color: $keyColorSec;
        padding: 10px 20px;
        font-size: $textSm;
        line-height: 23px;
    }
}

.operador2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    background-color:  $tertiaryboxesColor;
    border-radius: $borderPercent;

    figcaption{
        color: $keyColorMain; 
        text-shadow: $shadowtext2;
    }
    img{
        width: $imgsize;
        padding: 15px;
    }
    p{
        font-size: $textSm;
        padding: 10px;
        line-height: 25px; 
        color: $keyColorSec;
    }
}

//grids de acerca de
.nosotros{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 70px repeat(3, 300px);
    gap: 8px;
    grid-template-areas: 
    "titulons titulons titulons"
    "pregunta1 pregunta1 operador1"
    "pregunta2 pregunta2 operador1"
    "pregunta3 operador2 operador2";
    padding: 8px;

    .titulons{
        grid-area: titulons;
    }

    .pregunta1{
        grid-area: pregunta1;
    }

    .pregunta2{
        grid-area: pregunta2;
    }

    .pregunta3{
        grid-area: pregunta3;
    }

    .operador1{
        grid-area: operador1;
    }

    .operador2{
        grid-area: operador2;
    }
}

