//todo lo comun

h1{
    color: $keyColorMain;
    font-size: $textXl;
    padding: 10px;
    text-shadow: $shadowtext;
}

h2{
    color: $keyColorSec;
}

h3{
    font-size: 22px;
}

h1,h2,h3{
    margin-bottom: 5px;
}

form label{
    display: block;
}   

main{
    padding: 7px;
}

body{
    background: rgb(143,169,184);
    background: radial-gradient(circle, rgba(143,169,184,1) 16%, rgba(143,169,184,1) 30%, rgba(97,128,148,1) 67%);
}

header img{
    width: 100%;
}

p{  
    color: rgb(0, 0, 0);
    font-size: 16px;
    line-height: 20px;
}

.text-right{
    text-align: right;
}

.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
}

.sombra1{
    box-shadow: 1px 2px 5px 0px rgba(89,89,89,0.75);
    -webkit-box-shadow: 1px 2px 5px 0px rgba(89,89,89,0.75);
    -moz-box-shadow: 1px 2px 5px 0px rgba(89,89,89,0.75);
}