
.inicio{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
    margin: 15px;
    background-color: $boxesColor;

    figure{
        width: 45%;
        border: solid $secondaryboxesColor;
        border-radius: $borderPercent;
        padding: 70px 10px; 
        background-color: $secondaryboxesColor;

        figcaption{
            color: $keyColorSec;
            font-size: $textLg;
            font-weight: $textBold;
        }
        p{
            font-size: $textSm;
            margin-bottom: 20px;
            padding: 10px;
            line-height: 30px; 
            font-weight: $textBold;
        }

        button{
            border: none;
            padding: 12px 20px;
            background-color: $buttonColor;
            border-radius: $borderPercent;
            margin-bottom: 20px;
            a{
                color: $keyColorSec;
            }
        }     
    }
    img{
        width: $imgsize;
        padding: 0px 10px;
    }
} 
