nav{
    background: rgb(58,99,145);
    background: linear-gradient(24deg, rgba(58,99,145,1) 47%, rgba(16,51,93,1) 92%);
    padding: 20px;
    width: $imgsize;
    @include flex(column,center,center,nowrap); 
    font-size: $textSm;
    font-weight: $textBold;
        ul{ 
            list-style: none;
            display: flex;
            
            li{
                margin-right: 25px; 
            }
        }
        img{
            width: $imgsizeMd;
            }
}

.botonera{
    a{
    color: $keyColorSec;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size 0.3s;
    }
    a:hover{
        color:$keyColorMain;
        background-size: 100% 2px;
    }
} 

footer{
    background: rgb(16,51,93);
    background: linear-gradient(24deg, rgba(16,51,93,1) 32%, rgba(58,99,145,1) 64%);
    padding: 10px;
    color: $keyColorSec;
    @include flex(row,center,center,nowrap); 
    display: flex;

    svg{
        width: $imgsize;
        height: 35px;
        padding: 0px 10px;
    }

    ul{
        list-style: none;
    }

    a{
        color: $keyColorSec;
        font-size: $textSm;
    }
}

.error{
    background-color: $boxesColor;
    width: 100%;
    p{
        font-size: $textSm;
        padding: 10px;
        line-height: 25px; 
        color: $keyColorMain;
        text-shadow: $shadowtext;
        font-weight: $textBold;
    }
    img{
        width: 100%;
    }
    a{
        font-size: $textSm;
        font-weight: $textBold;
        padding: 10px;
    }

}