.productos{
    @include flex(row,space-around,normal,wrap);
    padding: 15px 20px;

    figure{
        width: 32%;
        border-radius: $borderPercent;
        padding: 10px;
        background-color: $secondaryboxesColor;
        figcaption{
            color: $keyColorSec;
            font-size: $textMd;
            padding: 5px;
            font-weight: 500;
            text-shadow: $shadowtext;
        }
        p{
            font-size: 18px;
            margin-bottom: 10px;
            padding: 10px;
            line-height: 26px;
            font-weight: $textRegular;
            text-shadow: $shadowtext2;
        }
        button{
            width: $imgsize;
            border: none;
            padding: 12px 20px;
            color: $keyColorSec;
            background-color: $tertiaryboxesColor;
            border-radius: 5px;
            margin-bottom: 30px;  
        
            a{
             color: $keyColorSec;  
            }
        }
        img{
            width: $imgsize;
        }
    }
}
